{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": [
    "external-helpers",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
