/* Currently the shimmering animation and dimensions are not parameterized */

.shimmer {
  margin: 20px auto;
  background: #eaeced;
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.shimmerbg {
  width: 300%;
  height: 400%;
  position: absolute;
  top: -200%;
  left: -150%;
  transform: rotate(16deg);
  animation: shimmering 2.5s ease infinite;
  background: linear-gradient(to right, rgba(234,236,237,0) 0%,rgba(117,124,135,1) 31%,rgba(117,124,135,1) 31%,rgba(117,124,135,1) 50%,rgba(117,124,135,1) 69%,rgba(234,236,237,0) 100%);
  
}

@keyframes shimmering {
  from { left: -400%; }
  to { left: 200%; }
}